# dataset 
datasets/hand_pose_action/*
!datasets/hand_pose_action/ADD_FILES_HERE


# checkpoint files
checkpoint/*

# byte-compiled etc
__pycache__/
*.py[cod]

# vscode
.vscode

# saved files
saved/


#csv logs
logs/CSV

# ipynb checkpoints
.ipynb_checkpoints/

# temp excel files
~$*.xlsx

# for now ignore these
results/plot_data
results/hpe_cond
results/hpe_logs
results/**/logs
results/**/*.zip