# dataset 
datasets/hand_pose_action/*
!datasets/hand_pose_action/ADD_FILES_HERE


# checkpoint files
checkpoint/*

# byte-compiled etc
__pycache__/
*.py[cod]

# vscode
.vscode

# saved files
saved/

# ipynb checkpoints
.ipynb_checkpoints/